<h3>Sensors locations </h3>
<div *ngIf="resultMessage" class="alert alert-success" [innerHTML]="resultMessage"></div>
<div *ngIf="resultError" class="alert alert-danger" [innerHTML]="resultError"></div>

<button class="btn btn-success mb-1 float-right" routerLink="/manageLocation" [state]="{ action: 'add', id: '-1'}"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Location</th>                
                <th scope="col" style="text-align: center;">Sensor registered</th>    
                <th scope="col" style="text-align: center;">Description</th>            
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="loadingList" class="spinner-border spinner-border-sm"></div>
            <div *ngIf="sensorLocList.length === 0 && !loadingList" >No Location found</div>
            <tr *ngFor="let loc of sensorLocList; index as i" >
                <td>{{loc.sensorLocation}}</td>
                <td>{{loc.sensorName.length > 0 ? loc.sensorName : "No sensor associated"}}</td>
                <td>{{loc.description}}</td>
                <td><button class="btn btn-primary ml-1" routerLink="/manageLocation"
                        [state]="{ action: 'edit', id: loc.id }">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-danger ml-1" (click)="deleteLocation(loc.id)" >
                        <fa-icon [icon]="faTrashAlt"></fa-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


                            
                            
