
        <h3>All Sensors </h3>
        <div *ngIf="resultMessage" class="alert alert-success" [innerHTML]="resultMessage"></div>
        <div *ngIf="resultError" class="alert alert-danger" [innerHTML]="resultError"></div>
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col" style="text-align: center;">Id</th>
                        <th scope="col" style="text-align: center;">Registered</th>
                        <th scope="col" style="text-align: center;">Transmit <br/> frequency</th>
                        <th scope="col">Last transmit</th>
                        <th scope="col">Last updated</th>
                        <th scope="col" style="text-align: center;">Power save mode</th>
                        <th scope="col">Battery Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sensor of sensorList; index as i"  
                        [style.background-color]="sensor.errorField.includes('ERROR') ? '#F8D7DA': sensor.errorField.includes('WARN') ? '#FFF3CD' : '' " 
                        placement="bottom" ngbPopover="{{sensor.errorField}}" triggers="mouseenter:mouseleave"                     
                        >

                        <td scope="row">{{i}}</td>
                        <td><fa-icon [icon]="sensorTypeIcon(sensor.sensorType)"></fa-icon>  </td>
                        <td style="text-align: center;">{{sensor.sensorId}}</td>
                        <td style="text-align: center;">{{sensor.configured ? "Yes" : "No"}}</td>
                        <td>{{sensor.transFreq}} min</td>
                        <td>{{ formatDate(sensor.lastTransmit) | date:'medium' }}  </td>
                        <td>
                            <span *ngIf="sensor.lastUpdated">
                                    {{ formatDate(sensor.lastUpdated) | date:'medium' }} 
                            </span>
                        </td>
                        <td style="text-align: center;">{{sensor.powerSave ? "Yes" : "No"}}
                            <span *ngIf="sensor.powerSave">
                                <br/>
                                Start: {{sensor.pwSaveStart < 10 ? '0'+sensor.pwSaveStart: sensor.pwSaveStart  }}:00 <br/>
                                End  : {{sensor.pwSaveEnd < 10 ? '0'+sensor.pwSaveEnd: sensor.pwSaveEnd  }}:00 <br/>
                                Freq : {{sensor.pwSaveTransFreq}} Min
                            </span>
                        </td>
                        <td>{{sensor.battLvl}}</td>
                        <td><button *ngIf="!sensor.configured " class="btn btn-success" routerLink="/manageSensor" [state]="{ action: 'add', id: sensor.id }"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
                            
                            
                            <button *ngIf="sensor.configured "class="btn btn-primary ml-1" routerLink="/manageSensor"
                                [state]="{ action: 'edit', id: sensor.id }">
                                <fa-icon [icon]="faEdit"></fa-icon></button>
                                <button class="btn btn-danger ml-1" (click)="deleteSensor(sensor.id)" >
                                    <fa-icon [icon]="faTrashAlt"></fa-icon></button>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        



