<div class="modal-header">
    <h4 class="modal-title">Config password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="fas fa-times">X</i>
    </button>
</div>
<form [formGroup]="passwordForm" (submit)="submitForm()">
    <div class="modal-boy">
        <div class="container">
            <div class="form-group">
                <label for="groupName">Password</label>
                <input id="groupName" type="text" formControlName="frm_password" class="form-control"  />
                <p *ngIf="error" class="alert alert-danger">{{error}}</p>
            </div>            
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" [disabled]="!passwordForm.valid">
            Next
        </button>
    </div>
</form>