<nav id="sidebar" [ngClass]="menuCollapse ? 'active' : ''">
    <div class="sidebar-header">
        <h3> <a [routerLink]="'/'" >Garden Irrigation</a></h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>n</p> -->
        <!-- <li>

            <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" 
                (click)="collapse1.toggle()" >   DowpDown</a> 

            <div #collapse1="ngbCollapse" [(ngbCollapse)]="dropDownCollapsed" >
                <div class="card" style="border: 0px">
                    <div class="card-body" style="background: #6d7fcc; ">
                        <ul class=" list-unstyled" >
                            <li>
                                <a href="#">All</a>
                            </li>
                            <li>
                                <a href="#">a</a>
                            </li>
                            <li>
                                <a href="#">Basement</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </li> -->
        <li>
            <a [routerLink]="'/list'">List workers</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <!-- <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li> -->
    </ul>


</nav>